<head>
  <%= stylesheet_link_tag :sessions %>
</head>

<p id="alert"><%= alert %></p>

<h1>Login</h1>
<div id="contenedor_login">
  <%= form_tag sessions_path do |form| %>
    <div id="fusername" class="field">
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>

    <div id="fpassword" class="field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>

    <div id="fbtn" class="actions">
      <%= submit_tag "Login" %>
    </div>
  <% end %>
</div>

