<head>
  <%= stylesheet_link_tag :sessions %>
</head>

<p id="alert"><%= alert %></p>

<div id="contenedor_login">
  <div id="login">
    <h1 id="login_title">Inicia sesión</h1><br>
    <%= form_tag sessions_path do |form| %>
      <div id="fusername" class="field">
        <b><%= label_tag :username %>: </b>
        <%= text_field_tag :username %>
      </div>

      <div id="fpassword" class="field">
        <b><%= label_tag :password %>: </b>
        <%= password_field_tag :password %>
      </div>

      <div id="fbtn" class="actions">
        <%= submit_tag "Login" %>
      </div>
    <% end %>
  </div>
</div>

