<p id="notice"><%= notice %></p>

<p>
  <strong>Cuerpo:</strong>
  <%= @comentario.cuerpo %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @comentario.usuario_id %>
</p>

<p>
  <strong>Coveet:</strong>
  <%= @comentario.coveet_id %>
</p>

<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
