<head>
  <%= stylesheet_link_tag :coveets %>
</head>

<%= form_with(model: coveet) do |form| %>
  <% if coveet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coveet.errors.count, "error") %> prohibited this coveet from being saved:</h2>

      <ul>
        <% coveet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="formulario_coveet">
    <div class="field campo_coveet">
      <b><%= form.label :cuerpo %>: </b>
      <%= form.text_area :cuerpo %>
    </div>

    <div class="field campo_coveet">
      <b class="label"><%= form.label :likes %>: </b>
      <%= form.number_field :likes %>
    </div>

    <div class="field campo_coveet">
      <b><%= form.label :usuario_id %>: </b>
      <%= form.text_field :usuario_id %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

<% end %>
