<head>
  <%= stylesheet_link_tag :administradors %>
</head>

<%= form_with(model: administrador) do |form| %>
  <% if administrador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(administrador.errors.count, "error") %> prohibited this administrador from being saved:</h2>

      <ul>
        <% administrador.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="formulario_administrador">
    <div class="field contenedor_entrada">
      <b class="label"><%= form.label :email %>: </b>
      <%= form.text_field :email %>
    </div>

    <div class="field contenedor_entrada">
      <b class="label"><%= form.label :username %>: </b>
      <%= form.text_field :username %>
    </div>

    <div class="field contenedor_entrada">
      <b class="label"><%= form.label :password %>: </b>
      <%= form.password_field :password %>
    </div>

    <div class="field contenedor_entrada">
      <b class="label"><%= form.label :password_confirmation %>: </b>
      <%= form.password_field :password_confirmation %>
    </div>

    <div class="actions contenedor_entrada">
      <%= form.submit %>
    </div>
  </div>

<% end %>
