<head>
  <%= stylesheet_link_tag :usuarios %>
</head>

<%= form_with(model: usuario) do |form| %>
  <% if usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
        <% usuario.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="formulario_usuario">
    <div class="field campo_usuario">
      <b><%= form.label :username %>: </b>
      <%= form.text_field :username %>
    </div>

    <div class="field campo_usuario">
      <b><%= form.label :pass %>: </b>
      <%= form.text_area :pass %>
    </div>

    <div class="actions campo_usuario">
      <%= form.submit %>
    </div>
  </div>
<% end %>
