<head>
  <%= stylesheet_link_tag :usuarios %>
</head>
<p id="notice"><%= notice %></p>

<h1 id="titulo">Usuarios</h1>
<%= link_to 'New Usuario', new_usuario_path %><br>
<div class="contenedor_listado">
 <div id="listado-usuarios">
    <% @usuarios.each do |usuario| %>
       <div class="usuario">
          <div class="user_picture">
            <%= image_tag "woman.png", :size => "50x50"%>
          </div>
          <div class="nombre-usuario">
            <b>Username:</b> <%= usuario.username %>
          </div>
          <div class="footer_usuario">
           <div class="btn_usuario">
            <%= link_to 'Edit', edit_usuario_path(usuario) %>
            <%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %>
           </div>
          </div>
       </div>
    <% end %>
 </div>
</div>
