<!DOCTYPE html>
<html>
  <head>
    <title>DS13</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    <%= yield %>
  <% else %>
    <%= render :template => "sessions/new" %>
  <% end %>
  </body>

  <% yield :navigation %>

  <%#= link_to "Panel de control", root_path %>
  <%#= link_to "Usuarios", :usuarios %>
  <%#= link_to "Coveets", :coveets %>
  <%#= link_to "Administradors", :administradors %>

  <%# content_for :navigation do %>

  <%# end %>
</html>
